{% extends "layout.html" %}

{% block main %}
    <form action="/delete_acc" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Enter account password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="confirm" placeholder="Enter 'CONFIRM'" type="text">
        </div>
        <div class="mb-3">
            <span style="color:red; font-size:1.2rem;">Note: Deleting your account will delete all the files you have uploaded!</span>
        </div>
        <button class="btn btn-danger" type="submit">Delete account</button>
    </form>
{% endblock %}

