{% extends "layout.html" %}

{% block main %}
    <div class="mb-3">
        <span style="font-size: 1.2rem; color: #0dcaf0;">Username:  </span>
        <span style="font-size: 1.2rem;">{{username}}</span>
    </div>
    <div class="mb-3">
        <a href="/change_pass">
            <button class="btn btn-dark">
                Change Password
            </button>
        </a>
    </div>
    <div class="mb-3">
        <a href="/delete_acc">
            <button class="btn btn-danger">
                Delete Account
            </button>
        </a>
    </div>
    <div class="mb-3">
        <span style="font-size: 1.2rem; color: #0dcaf0;">Files Uploaded:</span>
    </div>
    {% if files %}
        <div class="mb-3">
            <span style="font-size: 1.2rem; color: green;">Note: For more information about a file, click on its name</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                <th>File Name</th>
                <th>Upload Time</th>
                </tr>
            </thead>
            <tbody>
                {% for i in files %}
                    <tr>
                        <td>
                            <a class="text-decoration-none text-dark" href="/uploader_file_view?file_id={{ i['disk_name_id'] }}">{{ i["original_name"] }}</a>
                        </td>
                        <td>{{ i["upload_time"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="mb-3">
            <span style="font-size: 1.2rem;">You have not uploaded any files yet</span>
        </div>
    {% endif %}
{% endblock %}
