{% extends "layout.html" %}

{% block main %}
    <style>
        #choosefile{
            border: 1px solid;
            padding: 2px 2px;
        }
    </style>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <span>Upload</span>
        </div>
        <div class="mb-3">
            <input id="choosefile" type="file" name="file" accept=".pdf">
        </div>
        <div class="mb-3">
            <textarea class="form-control mx-auto" name="description" placeholder="File description"></textarea>
        </div>
        <div class="mb-3">
            <span style="color:red">Note: Upload only pdf files. Size limit: 500 MB.</span>
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
{% endblock %}
